.rb {
    background-color: #f86b6b
}
.qb {
    background-color: #65c1ff
}
.wr {
    background-color: #5db661
}
.te {
    background-color: #f0ff65
}
.k {
    background-color: #db65ff
}
.dst {
    background-color: #ffb765
}
.adpWarning {
    font-style: italic;
    font-weight: bold;
}