#players .rb {
    background-color: #f86b6b
}
#players .qb {
    background-color: #65c1ff
}
#players .wr {
    background-color: #5db661
}
#players .te {
    background-color: #f0ff65
}
#players .k {
    background-color: #db65ff
}
#players .dst {
    background-color: #ffb765
}
.adpWarning {
    font-style: italic;
    font-weight: bold;
}